/* --- Page settings --- */
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap);
html, body {
  /*Usual suspects*/
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1.2;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  background: #f1f1f1;
  color: #1a202c;
  /* - Font - */
  font-family: 'IBM Plex Sans KR', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*--- Content ---*/
#content {
  height: 100%;
  max-width: 950px;
  margin: auto;
}
.container {
  margin: 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
.block {
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.project-container {
  margin: 16px;
}

/*--- Header ---*/
header {
  position: sticky;
  top: 0;
}
nav {
  padding: 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.brand {
  display: flex;;
}

/*--- Media ---*/
.img-headshot {
  max-width: 440px;
}
#arrow-icon {
  height: 24px;
}
video {
  width: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  overflow: hidden;
}

/* --- Typography settings --- */
h1 {
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

/*--- Footer ---*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .75rem;
  color: gray;
}

/* --- Button settings --- */
button, a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: inherit;
}
button {
  background-color: black;
  border: solid black 1.2px;
  color: white;
  border-radius: 16px;
  padding: 12px 48px;
}
button:hover {
  background-color: #333;
  border: solid black 1.2px;
  transition: background-color 200ms;
}

/*--- Project area settings ---*/
.project-description {
  margin: 16px 0;
  display: grid;
  grid-template-columns: 1fr auto;
}
.project-button {
  display: flex;
  margin: auto;
  align-items: center;
}
.image-container {
   margin: 16px 0;
   display: flex;
   justify-content: center;
 }
.about-me-container {
  margin: 16px 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

/*--- Special Types ---*/
.fade {
  color: #5c5c5c;
  transition: color .25s;
}
.fade:hover {
  color: #1a202c;
}

/*--- Media Query ---*/
@media (min-width: 690px) {
  .span-2c {
    grid-column: auto / span 2;
  }
  .span-2r {
    grid-row: auto / span 2;
  }
}